<DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Career Website</title>
  </head>
  
  <body>
    <div class="container" style="margin-top: 35px;">
      <div style="text-align: center;">
      <h1>WE WORK REMOTELY</h1>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
         been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
         a galley of type and scrambled it to make a type specimen book.
      </p>

      <div style="text-align: center;">
      <button type="submit" class="btn btn-primary btn-sm">Post a Job</button>
        

      <h2>Open Positions</h2>
    <p>Show the jobs here</p>

    <button type="submit" class="btn btn-primary btn-lg">Contact Us</button>

        <p class"mt-4">Copyrights 2023, Salman Akhtar</p>
      </div>
                
    </div>
        
    </section>   

  </body>
</html>